.menu {
  $self: &;
  $offset: 240px; /* Параметр берется из data-offset - 10px для скрытия тени */

  right: 0;
  top: 50px;
  float: none;
  z-index: 200;
  height: 100vh;
  width: $offset;
  position: fixed;
  text-align: left;
  overflow-y: auto;
  background: var(--body-bg);
  transform: translateX($offset);
  transition: transform $transition;

  @include respond-before('md') {
    top: 0;
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    transform: translateX(0);
  }

  &.opened {
    top: 0; // header height
    padding-top: 70px;
    transform: translateX(0);

    @include respond-before('md') {
      top: 0;
    }
  }

  &__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    height: 100vh;
    position: fixed;
    background: rgba(#101215, .9);

    @include respond-before('md') {
      display: none;
    }
  }

  &__container {
    height: 100%;
    position: relative;
    padding: 30px 0 100px; // 80 = 30 + 50px of header

    @include respond-before('md') {
      padding: 0;
      height: auto;
      box-shadow: none;
    }

    @media (max-width: 767px) and (orientation: landscape) {
      height: auto;
    }
  }

  &:target &_close {
    display: block;
  }

  &__close {
    top: 35px;
    border: 0;
    padding: 0;
    width: 25px;
    right: 20px;
    height: 25px;
    display: block;
    cursor: pointer;
    min-height: 25px;
    line-height: 1em;
    overflow: hidden;
    box-shadow: none;
    position: absolute;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    @include respond-before('md') {
      display: none;
    }

    &:before,
    &:after {
      content: "";
      top: 0;
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      border: 2px solid var(--base-text);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:before {
      left: 10px;
    }
    &:after {
      left: -34px;
    }

    &:hover {
      &:before,
      &:after {
        //border-color: #000;
      }
    }
  }


  &-list {
    list-style: none;
    font-style: normal;

    @include respond-before('md') {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &-item {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 0;
    font-style: normal;
    @include fontCocoSharpXS('regular');

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    @include respond-before('md') {
      padding: 0;
    }
    @include respond-before('md') {
      margin-left: (20px/2);
      margin-right: (20px/2);
    }
    @include respond-before('xl') {
      margin-left: (40px/2);
      margin-right: (40px/2);
    }
  }

  &-link {
    color: var(--menu-item-color);

    &--dot {
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0.375em;
        height: 0.375em;
        margin-right: 0.375em;
        border-radius: 50%;
        background: #FF0000;
      }
    }

    &:hover,
    &--active {
      color: var(--menu-item-active-color);
    }
  }
}

// BURGER MENU
.burger-trigger {
  border: 0;
  padding: 0;
  width: 25px;
  height: 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  margin: 0 0 0 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;

  span {
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background: var(--base-text);
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: scale(0);
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        top: 6px;
        transform: rotate(-45deg);
      }
    }
  }

  @include respond-before('md') {
    display: none;
  }
}