.row-wrap {
  padding-left: (20px/2);
  padding-right: (20px/2);
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: (20px/-1);
  margin-right: (20px/-1);

  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: (20px/2);
    padding-left: (20px/2);
  }

  &-2 .col {
    @include respond-before('pre-md') {
      width: 50%;
    }
  }

  &-3 .col {
    @include respond-before('pre-md') {
      width: 50%;
    }
    @include respond-before('md') {
      width: 33.3333%;
    }
  }

  &-4 .col {
    @include respond-before('pre-md') {
      width: 50%;
    }
    @include respond-before('md') {
      width: 33.3333%;
    }
    @include respond-before('xl') {
      width: 25%;
    }
  }
}

.col {

}